.track{
  display: flex;
  flex-wrap: wrap;
}


div.track > a{
   flex:0%;
  color:purple
}

.start{
   position: absolute;
    left: 30%;
    top: 30%;
    width:40%;
    height:25%;
    text-align: center;
    display:block;
}


div.start > button{
  background-color: purple;
}
.quiz{
  position: absolute;
  width:40%;
  left: 30%;
  top: 10%;
  display:none;
}

div.quiz > div > ol > li > button{
  background-color: purple;
  height:35px;
  margin-top:5px;
}

#question1, #question2, #question3,#question4, #question5,#answers,#result,#highscore-buttons{ 
  display:none;
}

 

div#result > form > button{
  background-color: purple;
  height:33px;
}

div#highscore-buttons > button{
  background-color: purple;
}


#answers{
  border-top:1px solid black;
}

div#answers p{
  text-align: center;
}

 